{% extends 'base.html.twig' %}

{% block title %}JarvisFamily{% endblock %}


{% block body %}

<style>

    body{background:#263271;}
    .jarvis{display:flex;justify-content:space-between;align-items:center;height:23vh;width:100%;margin-bottom:0px;}
    .produit{color:#C1A291;margin-left:26vh;font-size:4vw;}
    .family{height: 150vh;display:flex;align-items:center;justify-content:center;height:60vh;}
    .navProduit{display:flex;justify-content:flex-end;margin-right:6vh;}
    .imgFamilyTab{height:95%}
    h2{display:flex;justify-content:center;align-items:center;height:20vh;width:70%}
    .slogan{color:white;display:flex;flex-direction:column;align-items:center;justify-content:center;text-align:center;height:50vh;width:100%;}
    .textSlogan{color:white;font-size:1.7vw;display:flex;align-items:center;justify-content:center;width:70%;}
    span{font-size:1.5vw;color:#ffffff;}
    .corp{display:flex;align-items:center;width:100%;height:100vh;}
    .iconFami{width:20%;height:80vh;display:flex;flex-direction:column;justify-content:space-evenly;align-items:flex-end}
    .titreIcon{width:10%;height:83vh;display:flex;flex-direction:column;justify-content:space-evenly;margin-left:20px}
    .textIcon{width:70%;height:83vh;margin-top:20px;display:flex;flex-direction:column;justify-content:space-evenly;}
    .textI{margin-bottom:0px;margin-left:70px;font-size:1.2vw;color:#ffffff;}
    .iconF{height:70px;width:70px;}
    h3{color:#ffffff;display:flex;align-items:center;justify-content:center;height:30vh;}
    .marque{color:#C1A291;margin:7px;}
    .imageEnfant{display:flex;align-items:center;justify-content:center;height:100vh;}
    .imgEnfant{width:60%}

</style>

<body>

    <header>

        <div class="jarvis">
            <div class="nomProduit">
                <h1 class="produit">JarvisFamily</h1>
            </div>
            <div class="navProduit">
                <a class="nav-link" href="#">Compatibilités</a>
                <a class="nav-link" href="#">Caractéristiques techniques</a>
            </div>
        </div>

        <div class="family">
            <img class="imgFamilyTab" src="../img/FamilyTab.png" alt="photo tablette jarvis family">
        </div>
        <div class="slogan">
            <h2 class="sloganText">Cloud privé et sécurisé à la maison</h2>
            <div class="textSlogan">
                <p>Un lieu d'echange et de partage au sein du foyer. Sécurisé car stocké localement à la maison. Créez des albums photos de vos plus beaux souvenirs, échangez des messages en toute confiance et même créer des listes partagées</p>
            </div>
        </div>

    </header>

    <section>

        <div class="corp">
            <div class="iconFami">
                <img class="iconF" src="../img/news1.png" alt="">

                <img class="iconF" src="../img/message.png" alt="">

                <img class="iconF" src="../img/transport.png" alt="">

                <img class="iconF" src="../img/photos1.png" alt="">

                <img class="iconF" src="../img/calendar1.png" alt="icone calendrier">

                <img class="iconF" src="../img/listeB.png" alt="">
            </div>

            <div class="titreIcon">
                <span><strong>News</strong></span>

                <span><strong>Messages</strong></span>

                <span><strong>Transport</strong></span>

                <span><strong>Photos</strong></span>

                <span><strong>Agenda</strong></span>

                <span><strong>Listes</strong></span>            
            </div>

            <div class="textIcon">
                <p class="textI">Consulter la météo et l'ensemble des actualités à proximité de chez vous</p>

                <p class="textI">Echanger des messages avec les membres de votre famille en toute confidentialité.</p>

                <p class="textI">Visualiser en direct l'ensemble des transports disponibles proche de chez vous. (prochainement disponible)</p>

                <p class="textI">Créer à nouveau vos albums photos d'antan de manière sécurisée et accessible depuis n'importe ou dans le monde. (prochainement disponible)</p>

                <p class="textI">Partager vos rencontres et rendez-vous commun à la famille. (prochainement disponible)</p>

                <p class="textI">Créer des listes à l'ensemble du foyer, comme vos listes de courses et assignez les à chacun des membres.</p>
            </div>
        </div>

        <h3 class="text-white">Services gratuit inclus dans l'ensemble des produits, <strong class="marque"> mySmartJarvis</strong></h3>
        <div class="imageEnfant">
            <img class="imgEnfant" src="../img/EnfantFamily.png">
        </div>

    </section>

</body>

{% endblock %}
