{% extends 'base.html.twig' %}

{% block title %}JarvisForHotels{% endblock %}

{% block body %}

    <style>



    </style>

    <body>
        <header>
            <div>

            </div>


        </header>



    </body>



{% endblock %}