{% extends 'base.html.twig' %}

{% block title %}Hello JarvisController!{% endblock %}

{% block body %}
<style>
    body{height:1000vh;}
    header{background:#263271;width:100%;height:100vh;text-align:center;margin-top:10vh;}
    h1 .pro{text-align:center;}
    div .lien{display:flex;justify-content:space-around;}
    div .cadre{background:##EDEFF8}
    div .acces{text-align:center;}
    div .enceinte{display:flex;justify-content:space-around;}
</style>

<body>

<header>

    <h1 class="pro">JarvisPro</h1>

    <h2>Une app pour gérer l'ensemble de votre domotique</h2>

    <h5>à partir de 900 €</h5>

<div class="lien">
    <a href="jarvisPro" src="">En savoir plus</a>
     <a href="" src="">Acheter</a>
</div>

    <img class="tel" src="img/Entete1.png">
</header>

<div class="cadre">
    <div class="acces">
            <h1>JarvisAcces</h1>
            <h2>Une alternative au Ehpad à domicile</h2>
            <h5>à partir de 450 €</h5>
        <div>
             <a href="jarvisAcces" src="">En savoir plus</a>
             <a href="" src="">Acheter</a>
        </div>

        <div class="enceinte">
        <img class="" src="img/enceinte.jpg">
        <br>
        <img class="" src="img/enceinte1.jpg">
        
        </div>
        
        
</div>
</div>
    
    
    
    








    </body>

   
   

{% endblock %}
