{% extends 'base.html.twig' %}

{% block title %}JarvisPro{% endblock %}

{% block body %}
<style>
    body{margin:auto;padding:auto;}
    header{background:url("../img/home_smarthome.png")5%;width:100%;height:100vh;text-align:center;}
    .titre{display:flex;}
    .prod{color:#C1A291;}
    a{color:#C1A291;}
    .navpro{width:80%;align-items: center;}
    .container{background:#263271;}
    .imgPro{height:300px;width:80%;image:center;} 
    .imgagePro{max-width:100%;max-height:100%;}
    footer{background:#263271;text-align:center;height:20vh;}
    .reseau{display:flex;justify-content:space-around;}
    .copy{align-items:bottom;}
</style>

<body>

<header>


        <ul class="nav navpro justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">Compatibilités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Caractéristiques techniques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acheter</a>
            </li>
        </ul>
    {# <img class="tabInterface" src="../img/homeTabInterface.png" alt=""> #}
    <h2 class="accroche">"Bonjour, je suis Jarvis votre majordome"</h2>


</header>

<div class="container">
    <div class="jarvisPro">
        <div class="accroche">
                <h2>Une alternative au Ehpad à domicile</h2>
            <div>
                <h2>Une alternative au Ehpad à domicile</h2>
            </div>
            <div class="imagePro">
                <img class="imgPro" src="../img/jarvisProMulti.png">
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="reseau">
            <a href="#"><img class="facebook" src="img/"></a>
            <a href="#"><img class="linkedin" src="img/"></a>
            <a href="#"><img class="instagram" src="img/"></a>
            <a href="#"><img class="twitter" src="img/"></a>
</div>
    <div class="copy">
        <p>© Copyright 2020 mySmartJarvis All Rights Reserved</p>
        <p>Engagement de confisdentialité Utilisation des cookies Mentiobns légales Plan du site</p>
</div>

 





</footer>

 </body>

   
   

{% endblock %}