{% extends 'base.html.twig' %}

{% block title %}JarvisScreen{% endblock %}

{% block body %}

<style>

    body{background:#263271;}
    .colOra{color:#EF7E40;}
    .jarvis{display:flex;justify-content:space-between;align-items:center;height:20vh;width:100%;margin-bottom:0px;top:5vh;}
    .produit{color:#C1A291;margin-left:26vh;}


</style>

<body>

    <header class="img-fluid">

        <div class="jarvis">
            <h1 class="produit">JarvisScreen</h1>
            <ul class="nav navScreen">
                <li class="nav-item">
                    <a class="nav-link" href="#">Compatibilités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Caractéristiques techniques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colOra" href="#">Acheter</a>
                </li>
            </ul>
        </div>
    </header>

    <section>




    </section>    


</body>



{% endblock %}