{% extends 'base.html.twig' %}

{% block title %}JarvisScreen{% endblock %}

{% block body %}

<style>

    body{background:#263271;}
    .colOra{color:#EF7E40;}
    .jarvis{display:flex;justify-content:space-between;align-items:center;height:17vh;width:100%;margin-bottom:0px;}
    .produit{color:#C1A291;margin-left:26vh;font-size:4vw;}
    .navProduit{display:flex;justify-content:flex-end;margin-right:6vh;}


</style>

<body>

    <header class="img-fluid fond">

        <img class="img-fluid imgFond" src="">
        <div class="jarvis">
            <div class="nomProduit">
                <h1 class="produit">JarvisScreen</h1>
            </div>
            <div class="navProduit">
                <a class="nav-link" href="#">Compatibilités</a>
                <a class="nav-link" href="#">Caractéristiques techniques</a>
            </div>
        </div>

    </header>

    <section>




    </section>    


</body>



{% endblock %}