{% extends 'base.html.twig' %}

{% block title %}JarvisScreen{% endblock %}

{% block body %}

<style>

    body{background:#263271;}
    header{max-width: 100%;height: 30vh;}
    .colOra{color:#EF7E40;}
 julien11
    .jarvis{display:flex;justify-content:space-between;align-items:center;height:20vh;width:100%;margin-bottom:0px;top:5vh;position: relative;right: 17vh;}
    
    section{text-align: center;margin-top: -10vh;height: 81vh;}
    section .screen{vertical-align: middle;border-style: none;height: 96vh;width: auto;}
    article{color:white;text-align:center;font-size:2em;font-weight:bold;margin-top: 3vh;}
    main{text-align:center;font-size:2em;color:white;margin-top: 5vh;}
    main .pro{color:#C1A291;}
    p{text-align:center;color:white;font-size:1em;text-justify:none;margin-top:5vh;margin-right: 60vh;margin-left: 69vh;font-size: 1.2em;}!important;
    footer{align-items: center;text-align: center;background: #263271;height:20vh;margin-top: 18vh;}

    .jarvis{display:flex;justify-content:space-between;align-items:center;height:17vh;width:100%;margin-bottom:0px;}
    .produit{color:#C1A291;margin-left:39vh;font-size:4vw;}
    .navProduit{display:flex;justify-content:flex-end;margin-right:19vh;}



</style>

<body>

    <header class="img-fluid fond">

        <img class="img-fluid imgFond" src="">
        <div class="jarvis">
            <div class="nomProduit">
                <h1 class="produit">JarvisScreen</h1>
            </div>
            <div class="navProduit">
                <a class="nav-link" href="#">Compatibilités</a>
                <a class="nav-link" href="#">Caractéristiques techniques</a>
            </div>
        </div>

    </header>

    <section>
        <img class="screen" src="../img/jarvisscreen.jpg" alt="photo jarvis screen">



    </section>    
    <article> Plus qu'un écran , un monstre</article>
    <main> Disponible en option pour votre <strong class="pro color:#EF7E40">jarvisPro</strong></main>
    <p>Ecran tactile de 10 pouces alimenté en POE et permettant le contrôle total de la maison. Disposant de LED de chaque côté , l'écran permet de passer des messages clairs et simples : les led sont vertes, c'est que la qualité d'air est excellente ! </p>
</body>



{% endblock %}